@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 pink-text" onmouseover="newColor()" onmouseout="origColor()">TAYLOR SWIFT PLAYLIST</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<br />

<div align="center">

</div>

<ul class="gallery">
	<li style="background: #f6bd60;">
		<p align="center"><h2>>> FORNIGHT</h2>
		<p align="center">&nbsp;</p>
		<p align="center">
		<iframe width="860" height="615" src="https://www.youtube.com/embed/q3zqJs7JUCQ?si=JOLmmC5G3gOGAEPM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</p>
	</li>
	<li style="background: #f7ede2;">
		<p align="center"><h2>>> THANK YOU AIMEE</h2>
		<p align="center">&nbsp;</p>
		<p align="center">
			<iframe width="860" height="615" src="https://www.youtube.com/embed/oaBJlKXBvjk?si=XyOXB5wqfvDvG2aS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</p>
	</li>
	<li style="background: #f5cac3;">
		<p align="center"><h2>>> THE TORTURED POETS DEPARTMENT</h2>
		<p align="center">&nbsp;</p>
		<p align="center">
			<iframe width="860" height="615" src="https://www.youtube.com/embed/RQMz4JDbtmI?si=J9_qwsGJAAsAhz9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</p>
	</li>
	<li style="background: #84a59d;">
		<p align="center"><h2>>> WILDEST DREAMS</h2>
		<p align="center">&nbsp;</p>
		<p align="center">
			<iframe width="860" height="615" src="https://www.youtube.com/embed/vtW_4j7SsZk?si=U8DIyB9UC9mv3YXk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</p>
	</li>
	<li style="background: #f28482;">
		<p align="center"><h2>>> CRUEL SUMMER</h2>
		<p align="center">&nbsp;</p>
		<p align="center">
			<iframe width="860" height="615" src="https://www.youtube.com/embed/GrKQvyXpNgc?si=uuRMEQ0FzTrOy7mA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</p>
	</li>
</ul>


